{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="badd">
    <div class="container-fluid c2">
        <div><h4>LIST OF EMPLOYEES</h4></div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">AGE</th>
                    <th scope="col">DEPARTMENT</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in emp_datas %}
                    <tr>
                        <th scope="row">{{ emp.id }}</th>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.age }}</td>
                        <td>{{ emp.department }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <button type="button" class="btn btn-outline-light" onclick="redirectToHome()">Go to home</button>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyFroL8tSk3bqVZx7S/3z5xCfSnwtx0Og0" crossorigin="anonymous"></script>

    <script>
        function redirectToHome() {
            window.location.href = '/';  
        }
    </script>
</body>
</html>
